<% if @order.complete? && item.variant.digital? %>
  <div data-hook='download_links'>
    <ul>
      <% item.digital_links.each do |digital_link| %>
        <% next if digital_link.attachment.nil? %>
        <% if digital_link.ready? %>
          <% format = File.extname(digital_link.attachment.path).downcase %>
          <li>
            <%= link_to I18n.t('spree.digitals.digital_download', filename: raw(digital_link.attachment_file_name)), digital_url(secret: digital_link.secret), class: "#{format}" %>
          </li>
        <% else %>
          <%= I18n.t('spree.digitals.file_is_not_ready') %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
